<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Иван Пудов / Портфолио</title>

    <meta property="og:title" content="Иван Пудов / Портфолио">
    <meta property="og:description" content="Режиссер звука и технический дизайнер. Проектирую интерактивные системы. Использую звук, графику и код, чтобы создавать интересные живые истории.">
    <meta property="og:url" content="https://ipudov.github.io/">
    
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      {{ content }}
    </div>
  </body>
</html>
